# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vavsa\OneDrive - University of East Anglia\Year_2\5012B_SoftwareEng\health_tracker\production\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
